<p id="notice"><%= notice %></p>
<div class="container">
  <%= @recommendation.recommendation %>
  
  
 

</div>

<%= link_to 'Edit', edit_recommendation_path(@recommendation) %> |
<%= link_to 'Back', recommendations_path %>
