
<h1>Kelvin munene</h1>
<div>
<%= link_to "Skills",skills_path%>
</div>
<div>
<%= link_to "Projects", projects_path%>
</div>
<hr>
A passionate Web developer. From young age, I always wanted to find solution to a problem. I was curious how computer software are build and get to perform some tasks, so I started teaching myself how to code. I am competed, a good team player and can work in different environments.



<footer class="page-footer" id="footer">
<div class="container">
<div class="row">
<div class="col l6 s12">
<form id="contact" class="col s12" action="contact.php" method="post">
<div class="row center">
<h5 class="white-text">Contact Me!</h5>
<div class="input-field col s6">
<i class="mdi-action-account-circle prefix white-text"></i>
<input id="icon_prefix" name="name" type="text" class="validate white-text">
<label for="icon_prefix" class="white-text">First Name</label>
</div>
<div class="input-field col s6">
<i class="mdi-communication-email prefix white-text"></i>
<input id="icon_email" name="email" type="email" class="validate white-text">
<label for="icon_email" class="white-text">Email-id</label>
</div>
<div class="input-field col s12">
<i class="mdi-editor-mode-edit prefix white-text"></i>
<textarea id="icon_prefix2" name="message" class="materialize-textarea white-text"></textarea>
<label for="icon_prefix2" class="white-text">Message</label>
</div>
<div class="col offset-s7 s5">
<button class="btn waves-effect waves-light red darken-1" type="submit">Submit
<i class="mdi-content-send right white-text"></i>
</button>
</div>
</div>
</form>
</div>
<div class="col l4 offset-l2 s12">
<h5 class="white-text">Social media</h5>
<ul>
<li><a class="grey-text text-lighten-3" href="https://www.facebook.com/karvin.mitchar">Facebook</a></li>

<li><a class="grey-text text-lighten-3" href="https://github.com/KELVINMUNENE">Github</a></li>
<li><a class="grey-text text-lighten-3" href="karvinmitchar@gmail.com
">Email</a></li>
</ul>
</div>
</div>
</div>
<div class="footer-copyright">
<div class="container">
© 2017 Copyright
<a class="grey-text text-lighten-4 right" href="https://github.com/KELVINMUNENE/port_rails">Created by Najib</a>
</div>
</div>
</footer>

</body>
</html>