
<h1>Kelvin munene</h1>
<div>
<%= link_to "Skills",skills_path%>
</div>
<div>
<%= link_to "Projects", projects_path%>
</div>
<hr>
A passionate Web developer. From young age, I always wanted to find solution to a problem. I was curious how computer software are build and get to perform some tasks, so I started teaching myself how to code. I am competed, a good team player and can work in different environments.

<h3>Contact me</h3>
