@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";


#footer{
  background-color: black;
}
#navnav{
	background-color: black;
	}

.navwrapper {
	background-color: black;
}

.magnolia{
	background-color: silver;
}
.collapsible-header {
    border: 3px solid black;
}
.collapsible-body{
border: 3px solid green;
}
.card-content white-text{

    border: 3px solid black;
    background-image:''
	
}
