@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";


#footer{
  background-color: black;
}
#navnav{
	background-color: #009999;
	}

.navwrapper {
	background-color: #009999;
}

.magnolia{
	background-color: #009999;
}