@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";


#footer{
  background-color: black;
}
#navnav{
	background-color: black;
}
.navwrapper {
	background-color: black;
}
.magnolia{
	background-image: url('https://4.bp.blogspot.com/-77oHIvL3YuU/UydFdMamYzI/AAAAAAAArzQ/jIOo8NPliow/s0/Apple+MacBook+Air_Ultra+HD.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}